@{
    ViewData["Title"] = "NAVEGADOR NO SOPORTADO.";
    Layout =null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<style>
    .alert-danger-alt {
        border-color: #B63E5A;
        background: #F44336;
        color: #ffffff;
    }
</style>


<div class="container-fluid">
    <br />
    <img src="~/img/logo_transmaresGroup_estrella.png" height="150px" />
    <br /><br />
    <div class="card mb-3" style="border:1px solid #1C3997;">
        <div class="card-header" style="background-color:#1C3997;color:#ffffff;">Aviso</div>
        <div class="card-body">
            <p align="justify">


                <strong>Navegador no soportado </strong><br>

                Este navegador no permite visualizar correctamente la página. <br>
                Se recomienda cualquiera de los siguientes navegadores : <br>
                <ul>
                    <li>Internet Explorer 10 o Superior</li>
                    <li>Chrome (Descargar <a href="https://www.google.com/intl/es-419/chrome/">aqui</a>)</li>
                    <li>Firefox (Descargar <a href="https://www.mozilla.org/es-ES/firefox/new/">aqui</a>) </li>
                </ul>

                Para mayor información contáctese con nuestro Centro de Consultas llamando a los teléfonos 0000-000 / 000 o escribiendo al correo electrónico <a href="mailto:consultas@tpsact.com.pe">consultas@tpsac.com.pe</a>
            </p>
        </div>
    </div>

</div>
