


<ul class="list-group">

    <li class="list-group-item">

        <input class="form-check-input" type="checkbox" name="Menus" value=""  /> Buscar Embarque

        <ul class="list-group-dark">

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox"
                       value=""> Buscar Embarque (Get)
            </li>


        </ul>

    </li>

    <li class="list-group-item">

        <input class="form-check-input" type="checkbox" name="Menus" value=""  /> Detalle Embarque

        <ul class="list-group-dark">

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox"
                       value=""> Detalle Embarque (Get)
            </li>

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox"
                       value=""> Estado de Embarque (Get)

            </li>

        </ul>




    </li>


    <li class="list-group-item">

        <input class="form-check-input" type="checkbox" name="Menus" value=""  /> Solicitud de Facturación

        <ul class="list-group-dark">

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox"
                       value=""> Solicitud de Facturación (Get)
            </li>

            <li class="list-group-item">
                <input class="form-check-input" type="checkbox"
                       value=""> Registrar Solicitud de Facturación (Post)

            </li>

        </ul>




    </li>

</ul>

      