
@{

}

            <table id="dtsClientes">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tipo Documento</th>
                        <th>Nro. Documento</th>
                        <th>Razon Social/Representante Legal</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Tipo Documento</th>
                        <th>Nro. Documento</th>
                        <th>Razon Social/Representante Legal</th>

                    </tr>
                </tfoot>
                <tbody>


                    <tr>
                        <td><button class="btn btn-outline-primary" type="button">Seleccionar</button></td>
                        <td>RUC</td>
                        <td>EMPRESA EIRL</td>
                        <td>Cliente Final</td>

                    </tr>
                    <tr>
                        <td><button class="btn btn-outline-primary" type="button">Seleccionar</button></td>
                        <td>RUC</td>
                        <td>EMPRESA EIRL</td>
                        <td>Cliente Forwarder</td>

                    </tr>

                    <tr>
                        <td><button class="btn btn-outline-primary" type="button">Seleccionar</button></td>
                        <td>RUC</td>
                        <td>Pepito SAC</td>
                        <td>Agente de Aduanas</td>

                    </tr>

                    <tr>
                        <td><button class="btn btn-outline-primary" type="button">Seleccionar</button></td>
                        <td>RUC</td>
                        <td>Neptunia</td>
                        <td>Cliente Broker</td>

                    </tr>

              
                </tbody>
            </table>
   