@*

*@
@{
}

<div class="row">
    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 1-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body d-flex flex-column justify-content-center text-center">
                


                <img src="~/img/ecu.png" title="ECU"  />





            </div>

        </a>
    </div>

    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 2-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body d-flex flex-column justify-content-center text-center">
              

                <img src="~/img/translogiccorp.png" title="ECU" />


            </div>
        </a>
    </div>


    <div class="col-lg-4 mb-4">
        <!-- Knowledge base category card 4-->
        <a class="card lift lift-sm h-100" href="knowledge-base-category.html">
            <div class="card-body d-flex flex-column justify-content-center text-center">
                


                <img src="~/img/translogic.png" title="ECU" />


            </div>
        </a>
    </div>

</div>
<!-- Knowledge base rating-->