@model ViewModel.Datos.UsuarioRegistro.CuentaUsuarioVM

@{
    ViewData["Title"] = "Cuenta de usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";

   
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user"></i></div>
                        Configuración de Cuenta
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0 small" asp-controller="Usuario" asp-action="CuentaUsuario" asp-area="GestionarUsuarios">Cuenta</a>
        @if (Model.Usuario.AdminSistema!=1) { 
        <a class="nav-link small" asp-controller="Usuario" asp-action="CuentaEntidad" asp-area="GestionarUsuarios">Entidad</a>
        }
        
        
    </nav>
    <hr class="mt-0 mb-4" />
    <div class="row">
        <div class="col-xl-9">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Mi Cuenta</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Nombre</label>
                            <input class="form-control" id="inputUsername" type="text" readonly="readonly" value="@Model.Usuario.NombresUsuario" />
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Apellido paterno</label>
                                <input class="form-control" id="inputFirstName" type="text" readonly="readonly" value="@Model.Usuario.ApellidoPaternousuario" />
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Apellido materno</label>
                                <input class="form-control" id="inputLastName" type="text" readonly="readonly" value="@Model.Usuario.ApellidoPaternousuario" />
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Correo</label>
                            <input class="form-control" id="inputEmailAddress" type="email" readonly="readonly" value="@Model.Usuario.CorreoUsuario" />
                        </div>
                        <!-- Form Row-->
                        <!-- Form Group (Perfiles)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Perfiles</label>

                            <ul class="small">
                                @foreach (var item in Model.Usuario.Perfiles.Select(s => s.Nombre))
                                {
                                    <li>
                                        @item
                                    </li>
                               
                                }
                            </ul>
                            
                        </div>

          

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="nav-sticky">
                <div class="card card-header-actions">
                    <div class="card-header">
                        Acciones

                    </div>
                    <div class="card-body" style="padding:0rem;">
                        <ul class="list-group list-group-flush" id="stickyNav">
                            @if (Model.Usuario.AdminSistema != 1)
                            {
                                <li class="list-group-item" style="padding: 0.5rem 0rem;">
                                    <a class="nav-link" asp-area="GestionarUsuarios" asp-controller="Usuario" asp-action="SolicitarAccesoActualizar">
                                        <div class="d-flex align-items-center">
                                            <div class="nav-link-icon" style="margin-right:10px">
                                                <i class="bi bi-cash-coin">  </i>
                                            </div>
                                            Solicitar Acceso
                                        </div>
                                    </a>
                                </li>
                            }
                            </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>