
@model Web.Principal.Model.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout =null;
}


<html>

<head>

    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" />

</head>


<body>

    @if (Model.ShowRequestId)
    {
        <h2 class="text-danger">@Model.ErrorMessage</h2>

        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

</body>

</html>
