

@{
    ViewData["Title"] = "Sistema No Disponible";
    Layout = null;
}

<div class="container">
    <br />
    <img src="~/img/logo_transmaresGroup_estrella.png" height="150px" />
    <br /><br />
    <div class="card mb-3" style="border:1px solid #1C3997;">
        <div class="card-header" style="background-color:#1C3997;color:#ffffff;"> SISTEMA NO DISPONIBLE</div>
        <div class="card-body">
            <h7>
               
               
            </h7>
            <br />
            <h7>Podr&aacute; volver a ingresar en ...</h7>
            <br /><br />
            <form name="formulario">
                <input type="text" name="reloj" size="30" style="border:1px solid #1C3997;background-color:#D6DBE9;color:#1C3997;font-size:1.2rem; text-align : center;font-weight:bold;">
            </form>
        </div>
    </div>
</div>

@section scripts{


}